# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\TH05730_12122025\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
